section#browser
    .container
        .browser-features.row
            .col-12.text-center
                hgroup
                    h4.text-uppercase.text-red New Features
                    h2 Some awesome features
                p
                    | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn. Vestibulum felis euismod semper.
                .d-flex.justify-content-center
                    img.img-fluid(src='../../images/browser.png' alt='browser')
