section#clients-and-partners.d-flex.align-items-center
    .container
        .clients.row.text-center
            .client.col-md-4
                img(src='../../images/client-image.png' alt='client 1 image')
                hgroup
                    h3 Jonathon Doe
                    h4.text-red Co Founder
                p
                    | &ldquo;Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn&rdquo;
            .client.col-md-4
                img(src='../../images/client-image.png' alt='client 2 image')
                hgroup
                    h3 Jonathon Doe
                    h4.text-red Co Founder
                p
                    | &ldquo;Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn&rdquo;
            .client.col-md-4
                img(src='../../images/client-image.png' alt='client 3 image')
                hgroup
                    h3 Jonathon Doe
                    h4.text-red Co Founder
                p
                    | &ldquo;Aenean eu leo quam. Pellentesque ornare sem lacinia qua emere wancerid elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn&rdquo;
        .partners.row
            a(href='#')
                img(src='../../images/partner-logo-1.png' alt='')
            a(href='#')
                img(src='../../images/partner-logo-2.png' alt='')
            a(href='#')
                img(src='../../images/partner-logo-3.png' alt='')
            a(href='#')
                img(src='../../images/partner-logo-4.png' alt='')
            a(href='#')
                img(src='../../images/partner-logo-5.png' alt='')
