section#description.d-flex.align-items-center
    .container
        .row
            .description-image.col-lg-6.d-flex.align-items-center
                img.img-fluid(src='../../images/macbook.png' alt='macbook')
            .description-text.col-lg-6.d-flex.flex-wrap.text-center.text-sm-left
                hgroup
                    h4.text-uppercase.text-red New design
                    h2
                        | Responsive design, just need your tap
                        span.text-red ....
                p
                    | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
