section#features
    .container.text-center.d-flex.align-items-center
        .pen-holder
        .earphones
        .coffee-mug
        .features
            .row
                .features-header.col-12
                    hgroup
                        h4.text-uppercase.text-red New features
                        h2 Some awesome features
            .row
                .features-item.col-md-4
                    img(src='../../images/feature-1.png' alt='Feature 1')
                    h3 Some awesome features
                    p
                        | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
                .features-item.col-md-4
                    img(src='../../images/feature-2.png' alt='Feature 2')
                    h3 Some awesome features
                    p
                        | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
                .features-item.col-md-4
                    img(src='../../images/feature-3.png' alt='Feature 3')
                    h3 Some awesome features
                    p
                        | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
