footer.container-fluid.d-flex.align-items-center.text-center.text-md-left
    .container
        .row
            .col-lg-3.col-sm-6
                h3.start-ex
                    | Start
                    span Ex
                p
                    | Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                    | USA &amp;  CAN: 1-888-123-4567
                    | Address: 34 Brokel Rd. NY
            .col-lg-2.col-sm-6
                h3 Support
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link(href='#') Help Center
                    li.nav-item
                        a.nav-link(href='#') Get Started
                    li.nav-item
                        a.nav-link(href='#') Contact Us
            .col-lg-2.col-sm-6
                h3 About Us
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link(href='#') About Us
                    li.nav-item
                        a.nav-link(href='#') Terms of Use
                    li.nav-item
                        a.nav-link(href='#') Privacy Policy
            .col-lg-3.col-sm-6
                h3 Get Newsletter
                .newsletter-form.input-group
                    input.form-control(type='email' placeholder='Email')
                    button.input-group-addon.btn.btn-primary(type='submit')
                        img(src='../../images/get-newsletter.png' alt='get newsletter')
                .social.text-center
                    .social-dribble
                        a(href='#')
                            img(src='../../images/social-sprites.png' alt='dribble')
                    .social-facebook
                        a(href='#')
                            img(src='../../images/social-sprites.png' alt='facebook')
                    .social-google-plus
                        a(href='#')
                            img(src='../../images/social-sprites.png' alt='google plus')
                    .social-twitter
                        a(href='#')
                            img(src='../../images/social-sprites.png' alt='twitter')
