header#hero.d-flex
    .row.my-auto.mx-auto
        .col-md-8.mx-auto.text-center
            h1 There is no other platforms for you as like
                .play-button.mx-auto.d-flex
                    .play-triangle.mx-auto.my-auto
                a.btn.btn-primary.text-uppercase(href='#') Try now
                small * No need to add card details