main
    section#platforms.bg-white.d-flex.align-items-center
        .container
            .row
                .platforms-item.col-lg-6.col-md-8.col-sm-10.text-center.text-sm-left
                    hgroup
                        h4.text-uppercase.text-red New design
                        h2
                            | There is no other platforms for you as like
                            span.text-red ....
                    p
                        | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
                    p
                        | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
