section#try-now.d-flex.align-items-center.text-center
    .container
        .row
            .col-12
                hgroup
                    h4.text-uppercase.text-red New features
                    h2
                        | Over 1000 designers are using
                        span ...
        .row.text-left
            .col-lg-3.offset-lg-9
                p
                    img(src='../../images/free-trial-arrow.png' alt='free trial')
                    | 30 days free trial for all.
        .row
            .col-md-6.col-lg-3
                input.form-control(type='text' name='' value='' placeholder='Full name')
            .col-md-6.col-lg-3
                input.form-control(type='email' name='' value='' placeholder='Your email')
            .col-md-6.col-lg-3
                input.form-control(type='password' name='' value='' placeholder='Password')
            .col-md-6.col-lg-3
                button.text-uppercase.btn.btn-primary.btn-block(type='submit') Try Now
        .row
            .col-12
                p
                    | By signing up you agree to our
                    a(href='#') Terms &amp; Services.
